@import 'mixin';

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700|Roboto:400,100,300);

html {
  background: url('/app/img/kitchen.png')no-repeat center 0px fixed;
  background-size: cover;
}
@media screen and (max-width: 560px) {
  html {
    background: url('/app/img/kitchen.png')no-repeat center 0px fixed;
    background-size: 100vh;
  }
}
body {
  // background: mintcream;
  text-align:center;
  color:black;
  font-family: 'Roboto', sans-serif;
  margin-top:0px;
  ol, ul, li {
    list-style: none;
  }
}

// Navbar style
@import 'navbar';
//

// Home Page
@import 'home';
//

// Recipe Page
@import 'recipe';
//

// Bootstrap
  @import 'bootstrap';
