.home {
  color: white;
  background: trasparent;
  position: relative;
  top: 350px;
  margin: 0 auto; }
  .home #yummly img {
    width: 10px; }
  .home .row {
    display: flex; }
  .home h3, .home p {
    padding: 0;
    margin: 0; }
  .home img {
    width: 100%;
    padding: 10px;
    height: 300px;
    top: 10px;
    position: relative;
    overflow: hidden; }

@media screen and (min-width: 580px) {
  .home {
    top: 340px; } }

@media screen and (min-width: 680px) {
  .home {
    top: 360px; } }

@media screen and (min-width: 800px) {
  .home {
    top: 390px; } }

@media screen and (min-width: 880px) {
  .home {
    top: 450px; } }
