.recipe-info {
  position: relative;
  margin-top: 200px; }
  .recipe-info img {
    width: 100%; }
  .recipe-info .container {
    position: absolute;
    top: 120px; }
    .recipe-info .container .recipe-name {
      width: 100%;
      z-index: 1009; }
      .recipe-info .container .recipe-name h2 {
        margin: 0 auto;
        width: 75%;
        color: white;
        font-weight: 600;
        font-size: 2em; }
    .recipe-info .container .recipe-img {
      height: 220px;
      margin: 0 auto;
      width: 100%;
      opacity: 0.9; }
      .recipe-info .container .recipe-img img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        overflow: hidden; }
  .recipe-info p {
    background: white; }
